<div class="price-selection">
    <select id=min-price>
        <option value="0">Free</option>
        <option value="0">Free</option>
        <option value="1">Inexpensive</option>
        <option value="2">Moderate</option>
        <option value="3">Expensive</option>
        <option value="4">Very Expensive</option>
    </select>
    -
    <select id=max-price>
        <option value="0">Free</option>
        <option value="0">Free</option>
        <option value="1">Inexpensive</option>
        <option value="2">Moderate</option>
        <option value="3">Expensive</option>
        <option value="4">Very Expensive</option>
    </select>
</div>
